body{
    background-color: rgb(189, 216, 164);
    font-size: 18px;
    font-family: 'Meow Script', cursive;
    font-family: 'Quicksand', sans-serif;
    margin:0;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .imagen{
        height: 250px;
    }
    nav a{
        text-decoration: none;
        color: rgb(14, 172, 235);
    }
    nav a:hover{
        color: brown;
        text-decoration: underline;
    }
    h1, p,div, nav{
        text-align: center;
    }
    div{
        border: 1px solid #000;
    }
    ul li{
        color: rgb(182, 84, 104);
    }
    ul li:nth-child(ever){
        font-style: italic;
        color: darkgrey;
    }